<!DOCTYPE HTML>
<!--
	Altitude by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Learn VMWARE</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-panels.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel-noscript.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-desktop.css" />
		</noscript>
	</head>
	<body class="left-sidebar">

	<!-- Wrapper -->
		<div id="wrapper">

			<!-- Header -->
			<div id="header">
				<div class="container">
					<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="index.html">Homepage</a></li>
							<li class="active"><a href="news.html">VMWare News</a></li>
              <!--
							<li><a href="right-sidebar.html">Right Sidebar</a></li>
							<li><a href="no-sidebar.html">No Sidebar</a></li>
              -->
						</ul>
					</nav>
				</div>
				<div id="logo-wrapper">
					<div class="container">
						<!-- Logo -->
						<div id="logo">
							<h1><a href="#">Learn</a><span class="tagline">VMWare</span></h1>
						</div>
					</div>
				</div>
			</div>
			<!-- /Header -->

		<!-- Main -->
      <%= yield %>
		<!-- /Main -->

		</div>
	<!-- /Wrapper -->

	<!-- Copyright -->
		<div id="copyright">
			<div class="container">
				<p>Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)</p>
			</div>
		</div>


	</body>
</html>