---
title: Learn VMWare
layout: left_sidebar
---

		<!-- Main -->
			<div id="main-wrapper">
				<div class="divider">&nbsp;</div>
				<div id="main">
					<div class="container">
						<div class="row">
							<div id="sidebar" class="4u">
								<section>
									<section>
<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=learnvmwarexy-20&marketplace=amazon&region=US&placement=1118925157&asins=1118925157&linkId=JLIMRVDKCY3K6T3T&show_border=true&link_opens_in_new_window=true">
                    </iframe>
									</section>
									<section>
<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=learnvmwarexy-20&marketplace=amazon&region=US&placement=1785886886&asins=1785886886&linkId=IEDPPO3UFM6BZU5Y&show_border=true&link_opens_in_new_window=true">
</iframe>
									</section>
									<section>
<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=learnvmwarexy-20&marketplace=amazon&region=US&placement=B0156S8ZYS&asins=B0156S8ZYS&linkId=IO3OLAACPKH4T5N7&show_border=true&link_opens_in_new_window=true">
</iframe>
									</section>
								</section>
							</div>

							<div id="content" class="8u skel-cell-important">
								<section>
									<div class="post">
										<header>
											<h2>Learning VMWare</h2>
											<span class="byline">Why 3 Reasons Why VMWare Still Matters</span>
										</header>
										<p>

                    <p>It's the age old dilema. The economy tanks but IT seems to thrive. Why is that?</p>

                    <p>Things are looking especially great on the enterprise end. With enteprises looking to consolidate their infrastructure, converge infrastructure is hotter than ever. All the top companies are involved. Amazon, Google, Microsoft, are all investing massive amounts on coming out on top when it comes to public clouds. But the private enterprise also has its own options. With big companies like VMWare, HP, and Citrix the enterprise is lined up and they're all looking to be the chosen stack for the IT enterprise.</p>

                    <p>There are 5 reasons why despite all top companies involved, VMWare is the one that will come out on top.</p>

                    <p>1) Public Cloud Support - There is not one cloud to rule them all. Sooner or later, you will want to mix and match and depending on what you're looking to deploy, you'll find yourself using resources in the cloud. VMWare has done great on this end with integrations for Amazon AWS and Microsoft Azure (coming soon).</p>

                    <p>2) IT Automation - VMWare vRealize Automation and the vRealize Orchestrator are two excellent tools that can automate nearly anything in the enterprise. If you're looking for more, they have a strategic partnership with PuppetLabs which puts the power of Puppet at your fingertips. Coding for Orchestrator uses javascript, which is easy enough to pick up. If you're looking for something more which Puppet can't provide, you can also run bash scripts or Powershell.</p>

                    <p>3) Innovations - Containers are the talk these days coming from companies like Docker and CoreOS. VMWare containers or 'jeVM' - short for just enough virtual machine is one of the latest innovation coming from the VMWare camp. Granted, containers are not their technology, but their ability to adjust and adapt to where the industry is heading is something to keep in mind.</p>

                    <p>This blog is not meant to put one technology over others. But in our opinion, we have recognized the VMWare stack of products and partnerships to be the very best of them all. Therefore, by choosing VMWare, we can also leverage of containers, Puppet, and AWS, and countless more excellent products. Therefore, we invite you to stick around and join us as we cover and discuss the advantages, disadvantages, tips, and useful information from professionals who use VMWare products.</p>

                    <p>Welcome to the club!</p>

                    </p>
									</div>
								</section>
							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- /Main -->
